<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="block/head.html :: head"></head>
<body>
    <div class="container">
        <div th:replace="block/navbar.html :: navbar"></div>
        <div class="container-fluid px-0 py-2" style="max-width:1600px">
            <div>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Фото</th>
                            <th scope="col">Марка</th>
                            <th scope="col">Модель</th>
                            <th scope="col">Год</th>
                            <th scope="col">Пробег (км)</th>
                            <th scope="col">Стоимость (рубю)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="post: ${posts}">
                            <td th:text="Фото"/>
                            <td width="20%" th:text="${post.brand}"/>
                            <td width="20%">
                                <a th:href="@{|/post/details/${post.id}|}">
                                    <span th:text="${post.model}"></span>
                                </a>
                            </td>
                            <td width="20%" th:text="${post.year}"/>
                            <td width="20%" th:text="${post.mileage}"/>
                            <td width="20%" th:text="${post.price}"/>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>