<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="block/head.html :: head"></head>
<body>
    <div class="container">
        <div th:replace="block/navbar.html :: navbar"></div>
        <div class="container-fluid px-0 py-2" style="max-width:1600px">
            <div>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" class="text-center">Фото</th>
                            <th scope="col" class="text-center">Описание</th>
                            <th scope="col" class="text-center">Марка</th>
                            <th scope="col" class="text-center">Модель</th>
                            <th scope="col" class="text-center">Год</th>
                            <th scope="col" class="text-center">Пробег</th>
                            <th scope="col" class="text-center">Стоимость</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="post: ${posts}">
                            <td width="25%">
                                <a th:href="@{|/post/details/${post.id}|}">
                                    <img th:src="@{/photo/{id}(id=${post.photo.id})}" alt="default" class="w-100"
                                         style="height:160px; object-fit: contain;">
                                </a>
                            </td>
                            <td style="max-width:100px" class="text-wrap align-middle" width="20%" th:text="${post.text}"/>
                            <td class="text-center align-middle" width="10%" th:text="${post.brand}"/>
                            <td class="text-center align-middle" width="10%" th:text="${post.model}"/>
                            <td class="text-center align-middle" width="5%" th:text="${post.year}"/>
                            <td class="text-center align-middle" width="15%">
                                <span th:text="${#numbers.formatDecimal(post.mileage, 0, 'WHITESPACE', 0, 'WHITESPACE')}"></span> км
                            </td>
                            <td class="text-center align-middle" width="15%">
                                <span th:text="${#numbers.formatDecimal(post.price, 0, 'WHITESPACE', 0, 'WHITESPACE')}"></span> руб.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>