<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="block/head.html :: head"></head>
<body>
    <div class="container">
        <div th:replace="block/navbar.html :: navbar"></div>
        <div class="container-fluid px-0 py-2" style="max-width:1600px">
            <div>
                <table class="table">
                    <thead>
                        <tr>
                            <th class="col-3 p-2 text-center">Фото</th>
                            <th class="col-3 p-2 text-center">Описание</th>
                            <th class="col-3 p-2 text-center">Марка</th>
                            <th class="col-3 p-2 text-center">Модель</th>
                            <th class="col-3 p-2 text-center">Год</th>
                            <th class="col-3 p-2 text-center">Пробег (км)</th>
                            <th class="col-3 p-2 text-center">Стоимость (руб.)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="post: ${posts}">
                            <td width="20%">
                                <a th:href="@{|/post/details/${post.id}|}">
                                    <img th:src="@{/photo/{id}(id=${post.photo.id})}" alt="default" class="w-100"
                                         style="height:160px; object-fit: contain;">
                                </a>
                            </td>
                            <td style="max-width:100px" class="text-wrap border-end border-secondary border-opacity-25" width="20%" th:text="${post.text}"/>
                            <td class="p-2 border-end border-secondary border-opacity-25 text-center" width="10%" th:text="${post.brand}"/>
                            <td class="p-2 border-end border-secondary border-opacity-25 text-center" width="10%">
                                <a th:href="@{|/post/details/${post.id}|}">
                                    <span th:text="${post.model}"></span>
                                </a>
                            </td>
                            <td class="p-2 border-end border-secondary border-opacity-25 text-center" width="20%" th:text="${post.year}"/>
                            <td class="p-2 border-end border-secondary border-opacity-25 text-center" width="20%" th:text="${post.mileage}"/>
                            <td class="p-2 border-end border-secondary border-opacity-25 text-center" width="20%" th:text="${post.price}"/>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>