<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="block/head.html :: head"></head>
<body>
<div class="container">
    <div th:replace="block/navbar.html :: navbar"></div>

    <div class="container-fluid px-0 py-3">
        <div class="border border-secondary border-opacity-50">
            <h5 class="text-center fw-semibold p-2">Отредактируйте информацию об автомобиле</h5>
            <form th:action="@{/post/update}" method="post" enctype="multipart/form-data">
                <input type="hidden" name="id" th:field="${post.id}">

                <div class="p-4" style="max-width:900px">
                    <label for="text">Описание</label>
                    <textarea type="text" class="form-control border border-secondary border-opacity-50" rows="10"
                              id="text" name="text" th:field="${post.text}" required></textarea>
                </div>

                <div class="p-3 d-flex flex-wrap">
                    <div class="p-2" style="width:250px">
                        <label for="price">Стоимость (руб.)</label>
                        <input type="text" class="form-control border border-secondary border-opacity-50"
                               id="price" name="price" th:field="${post.price}" required>
                    </div>
                </div>

                <div class="p-4 d-flex justify-content-end">
                    <a th:if="${post.isSold == false}" th:href="@{|/post/isSold/${post.id}}|}">
                        <button type="button" class="btn btn-secondary mr-2">Снять с продажи</button>
                    </a>
                    <a th:if="${post.isSold == true}" th:href="@{|/post/isNotSold/${post.id}}|}">
                        <button type="button" class="btn btn-secondary mr-2">Вернуть в продажу</button>
                    </a>
                    <a>
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>