<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="block/head.html :: head"></head>
<body>
    <div class="container">
        <div th:replace="block/navbar.html :: navbar"></div>
        <form style="max-width: 500px;" th:action="@{/user/login}" method="post" class="py-4 container">
            <div class="form-group">
                <label for="login">Логин</label>
                <input type="text" class="form-control" required name="login" id="login">
            </div>
            <div class="form-group">
                <label for="password">Пароль</label>
                <input type="text" class="form-control" required name="password" id="password">
            </div>
            <div th:if="${fail}" class="alert alert-danger" role="alert">
                Неверный логин или пароль
            </div>
            <button type="submit" class="btn btn-primary mt-3">Войти</button>
        </form>
    </div>
</body>
</html>