<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="block/head.html :: head"></head>
<body>
    <div class="container">
        <div th:replace="block/navbar.html :: navbar"></div>
        <div class="container-fluid px-0 py-3">
            <form style="max-width: 500px;" th:action="@{/user/create}" method="post" class="py-4 container">
                <div th:if="${!success}">
                    <input type="hidden" required name="id" value="0"/>
                    <div class="form-group">
                        <label for="login">Логин</label>
                        <input type="text" class="form-control" required name="login" id="login">
                    </div>
                    <div class="form-group">
                        <label for="password">Пароль</label>
                        <input type="text" class="form-control" required name="password" id="password">
                    </div>
                    <div class="form-group">
                        <label for="name">Имя</label>
                        <input type="text" class="form-control" required name="name" id="name">
                    </div>
                </div>
                <div th:if="${fail}" class="alert alert-danger" role="alert">
                    Пользователь существует
                </div>
                <div th:if="${success}" class="alert alert-success" role="alert">
                    Пользователь успешно зарегистрирован
                </div>
                <div th:if="${!success}">
                    <div class="p-4 d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary">Регистрация</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>