<div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Продажа авто</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <div class="navbar-nav mr-auto">
                <a class="nav-item nav-link" href="#" th:href="@{/post/list}">Объявления</a>
                <a class="nav-item nav-link" href="#" th:href="@{/post/create}">Добавить</a>
                <a class="nav-item nav-link" href="#" th:href="@{/post/my}">Мои</a>
            </div>
            <div class="navbar-nav d-flex flex-row-reverse" th:if="${user.name == 'guest'}">
                <a class="nav-item nav-link" th:href="@{/user/authorization}">Войти</a>
                <a class="nav-item nav-link me-3" th:href="@{/user/registration}">Регистрация</a>
            </div>
            <div class="navbar-nav d-flex flex-row-reverse" th:if="${user.name != 'guest'}">
                <a class="nav-item nav-link" th:href="@{/user/logout}">Выйти</a>
                <a class="nav-item nav-link me-3" th:text="${user.name}"></a>
            </div>
        </div>
    </nav>
    <br>
</div>